.contact {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-icons {
    display: flex; /* Use Flexbox to align items in a row */
    justify-content: center; /* Center the icons horizontally */
}

.contact-icons a {
    margin: 0 15px; /* Add space between icons */
    color: #F25C05;

}

.contact-icon {
    width: 50px; /* Set a width for the icons */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s; /* Optional: add a hover effect */
}

.contact-icon:hover {
    transform: scale(1.1); /* Optional: scale the icon on hover */
}
