/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('/assets/_images/optimized/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    line-height: 1.6;
    padding: 20px;
}

/* Project Info Section */
.project-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-info h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.project-info table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.project-info th, .project-info td {
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
}

.project-info th {
    background-color: #a15427;
}

.project-info td {
    background-color: #a05f39;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #ffcc00;
    background-color: transparent;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #ffcc00;
    color: #000;
}

/* Introduction Section */
.project-intro {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-intro h2 {
    color: #ffcc00;
    font-size: 2rem;
    margin-bottom: 15px;
}

.project-intro p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.project-intro a {
    color: #F25C05;
    text-decoration: none;
}

.project-intro img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

/* Feature Section */
.project-feature {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.project-feature a {
    color: #F25C05;
    text-decoration: none;
}

.project-feature h2 {
    color: #ffcc00;
    font-size: 2rem;
    margin-bottom: 15px;
}

.feature-content {
    display: flex;
    align-items: flex-start;
}

.feature-content img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    margin-right: 20px;
}

.feature-content p {
    font-size: 1rem;
    flex: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .feature-content {
        flex-direction: column;
    }

    .feature-content img {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
}
